<h1 mat-dialog-title>Congratulations, you've proved yourself an exceptional miner!</h1>
<div mat-dialog-content>
	<div class="d-flex flex-wrap">
		<img src="assets/images/mission-control.png" width="200" height="200">
		<div class="dialog-text">
			<p>
				Through a truly astounding feat of dwarven valor - you've completed all 420 achievements that Deep Rock Galactic and this program have to offer! This is a rare and remarkable accomplishment that few others have ever accomplished. You've proven yourself to be a peerless legend of the mining industry; a master of exploration, combat, and teamwork. You have collected more minerals, killed more bugs, and drank more beers than most miners will in their entire careers. You have earned the respect and admiration of your fellow dwarves, and the gratitude of management. You are a shining example of what it means to be a part of Deep Rock Galactic.
			</p>
			<p>
				You are the best of the best, miner. We look forward to your continued success. Rock and stone!
			</p>
			<br>
			<p>
				- Management
			</p>
		</div>
	</div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
	<button mat-button cdkFocusInitial mat-dialog-close="">Back to mining!</button>
</div>
