<div class="achievements-page-container">
    <!-- Achievements list -->
    <div class="container pt-4">
        <!-- Achievement cards -->
        <ng-container *ngFor="let achievement of achievements">
            <app-achievement-card
                *ngIf="!achievement.completedAt"
                [achievement]="achievement"
                (toggleComplete)="toggleComplete(achievement)"
                (changeCounter)="changeCounter(achievement, $event)"
                (subTaskCompleted)="subTaskCompleted(achievement, $event.subTaskId, $event.completed)"
                @slideInOutRight
                [@.disabled]="disableAnimations">
            </app-achievement-card>
        </ng-container>
        <h1>Completed</h1>
        <ng-container *ngFor="let achievement of achievements">
            <app-achievement-card
                *ngIf="!!achievement.completedAt"
                [achievement]="achievement"
                (toggleComplete)="toggleComplete(achievement)"
                @slideInOutLeft
                [@.disabled]="disableAnimations">
            </app-achievement-card>
        </ng-container>
    </div>
</div>