<div class="achievements-page-container">
    <!-- Achievements list -->
    <div class="container pt-4">
        <!-- Achievement cards -->
        <app-achievement-card
            *ngFor="let achievement of achievements"
            [achievement]="achievement"
            (toggleComplete)="toggleComplete(achievement)"
            (changeCounter)="changeCounter(achievement, $event)"
            (subTaskCompleted)="subTaskCompleted(achievement, $event.subTaskId, $event.completed)">
        </app-achievement-card>
    </div>
</div>