.achievements-page-container {
	height: 100%;
	width: auto;
    overflow: auto;

    // Hide scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}

mat-card-content {
    display: flex
}

mat-card-header {
    display: flex;
    flex-direction: column;
}

.count-progress {
    pointer-events: none;
}