.achievements-page-container {
	height: 100%;
	width: auto;
    overflow: auto;

    // Hide scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
