<h1 mat-dialog-title>Attention, miner!</h1>
<div mat-dialog-content>
	<div class="d-flex flex-wrap">
		<img src="assets/images/mission-control.png" width="200" height="200">
		<div class="dialog-text">
			<p>
				Before you embark on your next mission, make sure you check the settings to customize your challenge. You can select which types of strategies to avoid, which mission you're about to tackle, and which classes you and your team are ready to rock. Once you're done, hit the "Roll a strategy" button and see what fate has in store for you. A random strategy that matches your preferences will be assigned. Your objective is to complete the mission while following the strategy as closely as possible. You can share the strategy with your team by sending them the link, copying it to your clipboard, or shouting it out loud.
			</p>
			<p>
				Some strategies have specific requirements, but other than that, there are no official rules to follow. You are expected to follow the strategy with honor and courage. Some strategies may require some level of "Scout's honor" (so don't be a leaf-lover!). Remember, the most important thing is to have fun - so feel free to bend the rules as you see fit. Now get to work, miner!
			</p>
			<br>
			<p>
				- Management
			</p>
		</div>
	</div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
	<button mat-button cdkFocusInitial mat-dialog-close="">Ok</button>
</div>
