<h1 mat-dialog-title>Welcome to Deep Rock Galactic Strat Roulette!</h1>
<div mat-dialog-content>
	<p>
		Before getting started, it's recommended to visit the settings to configure which kinds of strategies to
		exclude, whether you want strategies that are compatible with a specific mission, as well as your team and the
		classes they're willing to play as. Once thats's done, you're ready to click "Roll a strategy". A strategy
		compatible with your provided settings will be chosen at random and displayed every time you roll a new
		strategy. Your team's job is to successfully complete a mission while following the chosen strategy. The chosen
		strategy can be shared with your team by sharing the URL, using the copy to clipboard functionality, or by
		reading the details aloud.
	</p>
	<p>
		Some strategies have specific mission or team requirements, but otherwise there are no official rules to follow.
		You're encouraged to follow the chosen strategy to the best of your abilities. Many strategies will require some
		level of "Scout's honor" (so try to be honest!). At the end of the day, the goal is to have fun - so feel free
		to bend the rules however you see fit.
	</p>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
	<button mat-button cdkFocusInitial mat-dialog-close="">Ok</button>
</div>
