.recently-completed-achievements-container {
    position: absolute;
    top: 62px; // 50px header + 12px margin
    right: 12px;
    z-index: 999;
    width: 320px;
    max-width: 50%;
    max-height: calc(100% - 62px);
    overflow: hidden;
}

.achievements-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-form {
    min-width: 150px;
    width: 100%;
}

.header-form-completion {
    @extend .header-form;
    max-width: 260px;
}

.header-form-search {
    @extend .header-form;
    max-width: 600px;
}

.achievements-list-container {
	height: 100%;
	width: auto;
    overflow-y: auto;
    overflow-x: hidden;

    // Hide scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
}
