<h1 mat-dialog-title>Attention, miner!</h1>
<div mat-dialog-content>
	<div class="d-flex flex-wrap">
		<img src="assets/images/mission-control.png" width="200" height="200">
		<div class="dialog-text">
			<p>
				This program offers you 351 extra challenges to prove your worth to Deep Rock Galactic. Mark your achievements as you complete them and your progress will be recorded. Don't be a leaf-lover and rely on your old achievements - start from scratch! Unless we say otherwise, you can do any challenge on any Hazard Level - but we expect you to face them on your regular difficulty level. And remember, if you prove your worth to Deep Rock Galactic, your efforts will be rewarded.
			</p>
			<br>
			<p>
				- Management
			</p>
		</div>
	</div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
	<button mat-button cdkFocusInitial mat-dialog-close="">Ok</button>
</div>
