.dwarf-class-select {
    width: 240px;
}

.copy-strat-to-clipboard {
    position:absolute;
    right:0;
    bottom:0;
}

.mission-number-input {
    width: 82px;
}

.flex-mission-input {
    flex: 1 1 120px;
    max-width: 300px;
    min-width: 120px;
}
