<div class="container p-2">

    <!-- Settings collapsible -->
    <div [collapse]="settingsMenuCollapsed" [isAnimated]="true">
        <div class="d-flex flex-row">
            <div class="container">
                <!-- Tags selection -->
                <h2>Tags</h2>
                <div *ngFor="let tag of tags" class="m-1 ms-4">
                    <mat-checkbox
                        [(ngModel)]="tag.checked"
                        (ngModelChange)="saveSettings()"
                        #tooltip="matTooltip"
                        [matTooltip]="'Include strategies which ' + tag.tooltipDetails"
                        matTooltipPosition="right"
                        matTooltipShowDelay="250">
                        {{ tag.type }}
                    </mat-checkbox>
                </div>

                <!-- Make strategy-specific decisions -->
                <h2>Strategy decisions</h2>
                <div class="m-1 ms-4">
                    <mat-checkbox
                        [(ngModel)]="makeStratDecisionsAutomatically"
                        (ngModelChange)="saveSettings()"
                        #tooltip="matTooltip"
                        matTooltip="Randomly make strategy-specific decisions for me. (e.g. Some strategies require selecting one dwarf to perform a specific role)"
                        matTooltipPosition="right"
                        matTooltipShowDelay="250">
                        Choose for me
                    </mat-checkbox>
                </div>

                <!-- Specific missions selection -->
                <h2>Missions</h2>
                <div class="m-1 ms-4">
                    <mat-checkbox
                        [(ngModel)]="preChosenMissions"
                        (ngModelChange)="saveSettings()"
                        #tooltip="matTooltip"
                        matTooltip="Roll for strategies that are compatible with the mission entered below."
                        matTooltipPosition="right"
                        matTooltipShowDelay="250">
                        Specific missions
                    </mat-checkbox>
                </div>
            </div>

            <!-- Team configuration -->
            <div class="container">
                <h2>Team details</h2>

                <!-- Add a dwarf -->
                <div data-toggle="tooltip" [title]="dwarves.length >= 4 ? 'Team is full' : ''">
                    <button mat-raised-button color="primary" [disabled]="dwarves.length >= 4" (click)="addDwarf()">Add a dwarf</button>
                </div>

                <!-- Dwarf info -->
                <div *ngFor="let dwarf of dwarves; let i = index">
                    <div class="d-flex flex-col">
                        <mat-form-field appearance="fill" class="m-1">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [(ngModel)]="dwarf.name" (ngModelChange)="saveSettings()">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="m-1 dwarf-class-select">
                            <mat-label>Classes</mat-label>
                            <mat-select [(ngModel)]="dwarf.classes" (ngModelChange)="saveSettings()" multiple>
                                <mat-option [value]="dwarfClass" *ngFor="let dwarfClass of dwarfClasses" [disabled]="dwarf.classes.length === 1 && dwarf.classes.includes(dwarfClass)">{{ dwarfClass }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-icon-button color="warn" class="m-1" (click)="removeDwarf(i)"><mat-icon>close</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    <!-- Title and settings button -->
    <div class="d-flex flex-row justify-content-between">
        <h1>DRG Strat Roulette</h1>
        <button mat-icon-button (click)="settingsMenuCollapsed = !settingsMenuCollapsed"><mat-icon>settings</mat-icon></button>
    </div>

    <!-- Mission details -->
    <div *ngIf="preChosenMissions">
        <div class="d-flex flex-row flex-wrap mt-2">
            <mat-form-field appearance="fill" class="m-1 flex-mission-input">
                <mat-label>Primary objective</mat-label>
                <mat-select [(ngModel)]="mission.primary" (ngModelChange)="saveSettings()">
                    <mat-option *ngFor="let primaryObjective of missionPrimaryObjectives" [value]="primaryObjective">
                        {{ primaryObjective }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="m-1 flex-mission-input">
                <mat-label>Secondary objective</mat-label>
                <mat-select [(ngModel)]="mission.secondary" (ngModelChange)="saveSettings()">
                    <mat-option *ngFor="let secondaryObjective of missionSecondaryObjectives" [value]="secondaryObjective">
                        {{ secondaryObjective }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="m-1 flex-mission-input">
                <mat-label>Biome</mat-label>
                <mat-select [(ngModel)]="mission.biome" (ngModelChange)="saveSettings()">
                    <mat-option *ngFor="let biome of biomes" [value]="biome">
                        {{ biome }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="mission-number-input m-1">
                <mat-label>Length</mat-label>
                <input
                    matInput
                    type="number"
                    min="1"
                    max="3"
                    id="mission-length"
                    [(ngModel)]="mission.length"
                    (ngModelChange)="saveSettings()">
            </mat-form-field>
            <mat-form-field appearance="fill" class="mission-number-input m-1">
                <mat-label>Complexity</mat-label>
                <input
                    matInput
                    type="number"
                    min="1"
                    max="3"
                    id="mission-complexity"
                    [(ngModel)]="mission.complexity"
                    (ngModelChange)="saveSettings()">
            </mat-form-field>
            <mat-form-field appearance="fill" class="m-1 flex-mission-input">
                <mat-label>Warnings</mat-label>
                <mat-select [(ngModel)]="mission.warnings" (ngModelChange)="saveSettings()" multiple>
                    <mat-option
                        [value]="warning"
                        *ngFor="let warning of warnings"
                        [disabled]="mission.warnings.length === 2 && !mission.warnings.includes(warning)">
                        {{ warning }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="m-1 flex-mission-input">
                <mat-label>Anomaly</mat-label>
                <mat-select [(ngModel)]="mission.anomaly" (ngModelChange)="saveSettings()">
                    <mat-option [value]="null">
                        None
                    </mat-option>
                    <mat-option *ngFor="let anomaly of anomalies" [value]="anomaly">
                        {{ anomaly }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <!-- Roll a strategy -->
    <div>
        <button
            mat-raised-button
            color="primary"
            (click)="rollStrat()">
            Roll a strategy
        </button>
    </div>
    <br>

    <!-- Rolled strategy -->
    <div class="position-relative">
        <pre style="white-space: pre-wrap;">{{ strat | json }}</pre>
        <button
            *ngIf="strat"
            class="copy-strat-to-clipboard"
            mat-icon-button
            [matMenuTriggerFor]="clipboardMenu"
            #tooltip="matTooltip"
            matTooltip="Copy to clipboard"
            matTooltipShowDelay="250">
            <mat-icon>content_copy</mat-icon>
        </button>

        <!-- Copy intro/strategy to clipboard -->
        <mat-menu #clipboardMenu="matMenu">
            <button mat-menu-item (click)="copyText(false, true)">
                Strat
            </button>
            <button mat-menu-item (click)="copyText(true, false)">
                Intro
            </button>
            <button mat-menu-item (click)="copyText(true, true)">
                Both
            </button>
          </mat-menu>
    </div>
</div>
