<!-- Header bar -->
<div class="d-flex flex-row justify-content-between header-bar">
	<mat-tab-group animationDuration="0ms" [(selectedIndex)]="activeTabIndex" (selectedIndexChange)="tabIndexChanged()">
		<mat-tab *ngFor="let tab of tabs" label="{{ tab.displayName }}"></mat-tab>
	</mat-tab-group>
	<div *ngIf="collapseButtons; else expandedButtons">
		<button
			#feedbackTooltip="matTooltip"
			matTooltip="Controls"
			matTooltipShowDelay="500"
			mat-icon-button
			aria-label="Controls"
			[matMenuTriggerFor]="controlsMenu">
			<mat-icon class="white-icon">menu</mat-icon>
		</button>
	</div>
	<mat-menu #controlsMenu="matMenu">
		<ng-container *ngTemplateOutlet="expandedButtons"></ng-container>
	</mat-menu>
	<ng-template #expandedButtons>
		<div class="d-flex flex-row">
			<button
				#feedbackTooltip="matTooltip"
				matTooltip="Feedback"
				matTooltipShowDelay="500"
				mat-icon-button
				aria-label="Feedback"
				(click)="openFeedbackDialog()">
				<mat-icon class="white-icon">feedback</mat-icon>
			</button>
			<button
				#infoTooltip="matTooltip"
				matTooltip="Info"
				matTooltipShowDelay="500"
				mat-icon-button
				aria-label="Info"
				(click)="headerControlsService.infoButtonPressed$.next()">
				<mat-icon class="white-icon">info</mat-icon>
			</button>
			<button
				#shareTooltip="matTooltip"
				matTooltip="Share"
				matTooltipShowDelay="500"
				mat-icon-button
				aria-label="Share"
				(click)="headerControlsService.shareButtonPressed$.next()">
				<mat-icon class="white-icon">share</mat-icon>
			</button>
			<button
				#settingsTooltip="matTooltip"
				matTooltip="Settings"
				matTooltipShowDelay="500"
				mat-icon-button
				aria-label="Settings"
				(click)="headerControlsService.settingsButtonPressed$.next()">
				<mat-icon class="white-icon">settings</mat-icon>
			</button>
		</div>
	</ng-template>
</div>

<!-- Router outlet -->
<div
	class="tab-contents-container"
	[ngStyle]="{ backgroundImage: 'linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/backgrounds/' + background + ')' }">
	<router-outlet></router-outlet>
</div>

<!-- Pre-load this image to avoid displaying default text when dialogs display -->
<img hidden src="assets/images/mission-control.png"/>
