<h1 mat-dialog-title>We want to hear from you!</h1>
<div mat-dialog-content>
	<div class="d-flex flex-wrap">
		<img src="assets/images/mission-control.png" width="200" height="200">
		<div class="dialog-text">
			<p>
				We're always looking for ways to improve this dwarven accomplishment program. It's hosted on a <a href="https://github.com/drg-strat-roulette/drg-strat-roulette.github.io" target="_blank">public GitHub repository</a>. There, you can <a href="https://github.com/drg-strat-roulette/drg-strat-roulette.github.io/issues" target="_blank">report issues</a>, or <a href="https://github.com/drg-strat-roulette/drg-strat-roulette.github.io/discussions" target="_blank">join in discussions</a>. Discussions are a great way to get in direct contact with management and your fellow miners. You can ask questions, share ideas or suggestions, give feedback, or simply share your experiences! If you want to give feedback without management knowing your identity, you can also send feedback anonymously through <a href="https://forms.gle/9G7Y3nQoa54X6kKi6" target="_blank">a Google Form</a>.
			</p>
			<br>
			<p>
				- Management
			</p>
		</div>
	</div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
	<button mat-button cdkFocusInitial mat-dialog-close="">Close</button>
</div>
