mat-progress-spinner {
    min-width: 48px;
}

.card-title {
    letter-spacing: normal;
    font-size: 18px;
    font-weight: 400;
}

.subtitle {
    color: rgba(255, 255, 255, 0.54);
    font-size: 14px;
}