/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	background-color: #141516;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	color: white;
}

/* Custom classes*/
.white-icon {
	color: white;
}
.white-icon svg {
	fill: white;
}
.drg-card {
	font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    padding: 16px;
    border-radius: 4px;
    background-color: #191b1c;
    width: 100%;
}
.drg-card-light {
	@extend .drg-card;
	background-color: #333333;
}

/* Angular overrides */
.mat-drawer-backdrop.mat-drawer-shown {
	background-color: rgba(0, 0, 0, .6) !important;
}

.mat-mdc-button > .mat-icon {
	margin-right: 0 !important;
}
