/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
	background-color: #141516;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	color: white;
}

/* Custom classes*/
.white-icon {
	color: white;
}
.white-icon svg {
	fill: white;
}

/* Angular overrides */
.mat-select-panel,
.mat-menu-panel,
.mat-dialog-container,
.mat-card {
	background-color: #191b1c !important;
}
