@use '@angular/material' as mat;

@include mat.core();

$drg-primary: mat.define-palette(mat.$amber-palette);
$drg-accent: mat.define-palette(mat.$amber-palette);
$drg-warn: mat.define-palette(mat.$red-palette);

$drg-theme: mat.define-dark-theme((
	color: (
		primary: $drg-primary,
		accent: $drg-accent,
		warn: $drg-warn,
	),
	typography: mat.define-typography-config(),
	density: 0,
));

@include mat.all-component-themes($drg-theme);