<h1 mat-dialog-title>We'd love to get your feedback!</h1>
<div mat-dialog-content>
	<p>
		There are a number of ways you can give this project feedback. DRG Strategy Roulette is hosted in a <a href="https://github.com/drg-strat-roulette/drg-strat-roulette.github.io" target="_blank">public GitHub repository.</a> On there, you can <a href="https://github.com/drg-strat-roulette/drg-strat-roulette.github.io/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">report a bug</a>, or <a href="https://github.com/drg-strat-roulette/drg-strat-roulette.github.io/discussions" target="_blank">participate in discussions</a>. Discussions provide a forum to post whatever you want. You can ask questions, share ideas/suggestions, or simply share your experiences!
	</p>
    <p>
        Our GitHub is the preferred way to provide feedback, but if you'd like to provide anonymous feedback and/or don't want to create a GitHub account, you can also submit feedback anonymously through our <a href="https://forms.gle/9G7Y3nQoa54X6kKi6" target="_blank">Google Form</a>.
    </p>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
	<button mat-button cdkFocusInitial mat-dialog-close="">Close</button>
</div>
